@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@inject IViewLocalizer Localizer
@inject IConfiguration Configuration
@{

    if (Context.User.IsAuthenticated())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutExt.cshtml";

    }
}
@if (Context.User.IsAuthenticated())
{
    @section breadcrumb
        {

        <!-- Breadcrumb-->
        <ol class="breadcrumb m-lg-0">
            <li class="breadcrumb-item">@Localizer["Menu-Home"]</li>
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-controller="Home">@Localizer["Menu-User"]</a>
            </li>
        </ol>
    }
}
<div class="row">

    <div class="col-lg-12 bg-primary">
        <div class="row justify-content-center">
            <div class="jumbotron bg-primary text-white">
                <div class="col-md-12 order-md-1 text-center text-md-left">
                    @Localizer["Body-Jp-Description"]
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 bg-cyan">
        <div class="row justify-content-center">
            <div class="jumbotron bg-cyan text-white">
                @Localizer["Body-Welcome"]
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="live-preview">
    <div class="animated fadeIn">
        <div class="text-center">
            <br />
            <h1 class="section-heading mb-4">@Localizer["Body-Demo"]</h1>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-4 col-sm-4">
                <div class="card">
                    <a asp-action="Index" asp-controller="Grants">
                        <img class="card-img-top" src="@Url.Content("~/images/demos/sso.png")" alt="SSO">
                    </a>
                    <div class="card-body text-center">
                        <div class="text-muted small text-uppercase font-weight-bold">@Localizer["Body-SSO"]</div>
                        <img class="icon" src="@Url.Content("~/icon.jpg")">
                        <p>
                            @Localizer["Body-Document"]

                        </p>
                        <p>
                            @Localizer["Body-Click"] <a asp-action="Index" asp-controller="Grants">@Localizer["Body-Here"]</a> @Localizer["Body-Manage"]
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card">
                    <a href="@Configuration.GetSection("ApplicationSettings:IS4AdminUi").Value" target="_blank">
                        <img class="card-img-top" src="@Url.Content("~/images/demos/adminui.png")" alt="Admin UI">
                    </a>
                    <div class="card-body text-center">
                        <h2>IS4 Admin UI</h2>
                        <a href="@Configuration.GetSection("ApplicationSettings:IS4AdminUi").Value">
                            <div class="d-none d-lg-block">
                                <img class="icon img-fluid" src="@Url.Content("~/images/brand/logo.png")">
                            </div>
                            <div class="d-lg-none text-center">
                                <img class="icon img-fluid" src="@Url.Content("~/images/brand/logo-min.png")">
                            </div>
                        </a>
                        <p>
                            @Localizer["Body-IS4-Main-Goal"]
                            <a class="text-black-50" href="@Configuration.GetSection("ApplicationSettings:IS4AdminUi").Value">@Localizer["Body-User-Interface"]</a>
                            @Localizer["Body-RichUI"]
                        </p>
                        <p>
                            @Localizer["Body-Click"] <a href="@Configuration.GetSection("ApplicationSettings:IS4AdminUi").Value">@Localizer["Body-Here"]</a> @Localizer["Body-ManageServer"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="card">
                    <a href="@Configuration.GetSection("ApplicationSettings:UserManagementURL").Value" target="_blank">
                        <img class="card-img-top" src="@Url.Content("~/images/demos/usermanagement.png")" alt="User Management">
                    </a>
                    <div class="card-body text-center">
                        <div class="text-muted small text-uppercase font-weight-bold">@Localizer["Body-UserManagement"]</div>
                        <a href="@Configuration.GetSection("ApplicationSettings:UserManagementURL").Value">
                            <img class="icon" height="64" src="@Url.Content("~/images/clientLogo/1.jpg")">
                        </a>
                        <p>
                            <a href="@Configuration.GetSection("ApplicationSettings:UserManagementURL").Value">@Localizer["Body-UserManagement"]</a> @Localizer["Body-HimselfData"]
                        </p>
                        <p>
                            @Localizer["Body-UIAngular7"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

